
<ion-card *ngFor="let movie of movieList">
  <img src="https://i.ebayimg.com/images/g/b2wAAOxyyF5RJmzS/s-l500.jpg">
  <ion-card-header>
    <ion-card-subtitle>other movie's information</ion-card-subtitle>
    <ion-card-title>Movie's name: {{ movie }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    lorem ip sum lorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sum
  </ion-card-content>
</ion-card>
