
<ion-card *ngFor="let movie of movieList">
  <img src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png">
  <ion-card-header>
    <ion-card-subtitle>other movie's information</ion-card-subtitle>
    <ion-card-title>Movie's name: {{ movie }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    lorem ip sum lorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sumlorem ip sum
  </ion-card-content>
</ion-card>
